body{
  background: black;
  color:white;
}

.menu {
  list-style: none;
  margin: 40px;
  text-align: right;
  display: flex;
}

.right, .left {
   height: 100%;
   text-align: center;
}

.right{
  width:60%;
}

.left{
  width:40%;
}

.menu li {
  display: inline-block;
}

.mainmenu li:after {
  content: "|";
  font-size: 24px;
  color: white;
  display: inline-block;
  vertical-align:top;
  margin: 40px 20px;
}

.mainmenu li:last-child:after {
  content: none;
}

.menu a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  margin: 40px;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .4s;
}

.menu a, .menu a:visited {
  color: white;
}

.menu a.current, .menu a:hover{
  color: yellow;
}

.login{
  text-align: center;
  position: relative;
  margin-top: 70px;
}

.login h1{
  color:white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 40px;
}

.login p{
  color:white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 24px;
}

.button{
  border: 2px solid #333; 
  display: inline-block;
  position: relative;
  margin-top: 90px;
  font-size: 24px;
  padding: 15px 35px; 
  text-decoration: none; 
  color: white;
  text-transform: uppercase;
}

.button:hover{
  color: yellow;
  border: 2px solid #e5e619;
  text-decoration: none;
  transition: color .4s;
  transition: border .4s;
}

.button i{
  position: relative;
  margin-left: 10px;
  top:-2px;
}

form {
    margin-left: 32%;
    width:570px;
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

.create{
  text-align: center;
  margin-top: 10%;
}

.names{
  display: flex;
  margin-top: 20px;
  text-align: center;
}

.FB_name{
  width:60%;
  padding-top: 90px;
  padding-right: 400px;
  font-size: 30px;
}

.Place_name{
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

.exit{
  width:10%;
  text-align: center;
  padding: 20px
}

.photo img{
  width:200px;
  height:200px;
  margin-left: 50px; 
  margin-top: 30px;
}

.photo{
  position: relative;
  width:40%;
  padding-left: 500px;
}

.element{
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.element p{
  font-size: 24px;
}

.list{
  flex-direction: column;
  width:70%;
  margin-left: 250px;
}

.list a{
  text-decoration: none;
  position: relative;
  margin: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.list a, .list a:visited {
  color: black;
}

.names a, .names a:visited{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.names button{
  width: 100px;
}

.list button{
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 400px;
  height: 50px;
  margin-left: 360px;
}

.add{
  text-align: center;
  margin: 20px;
}

