{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контакты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    
	<nav class="menu">
  		<div class="left"><a href="{% url 'startpage' %}">RememberPlaces</a></div>
  		<div class="right"><ul class="mainmenu">
	    	<li><a href="{% url 'startpage' %}" >Главная страница</a></li>
		    <li><a href="{% url 'about' %}" >О нас</a></li>
		    <li><a href="{% url 'contacts' %}" class="current">Контакты</a></li>
  		</ul></div>
	</nav>

	<div class="contacts-text">
    	<ul>
    		<li>rememberplaces@mail.ru</li>
    		<li>vk.com/rememberplaces</li>
    		<li>t.me/rememberplaces</li>
    	</ul>
    </div>

</body>
</html>