{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RememberPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>
<body>

	<!--Меню сайта-->
    <nav class="menu">
  		<div class="left"><a href="{% url 'startpage' %}">RememberPlaces</a></div>
  		<div class="right"><ul class="mainmenu">
	    	<li><a href="{% url 'startpage' %}" class="current">Главная страница</a></li>
		    <li><a href="{% url 'about' %}">О нас</a></li>
		    <li><a href="{% url 'contacts' %}">Контакты</a></li>
  		</ul></div>
	</nav>

    <!--Вход через FB-->
	<div class = "login">
		<h1>Добро пожаловать на сайт RememberPlaces</h1>  
        <p>
        Здесь вы можете записать ваши лучшие воспоминания<br>
        Вам предоставляется возможность сохранить ваши любимые места<br>
        И описать те события, которые произошли там<br>
        Добавляйте уголки мира в любое время и в любом месте в своем профиле<br>
        Присоединяйтесь к нам<br>
    	</p>
        <a href="places/home" class="button">Зайти через Facebook<i class="fab fa-facebook-f"></i></a>
    </div>

</body>
</html>